{% extends('layouts/layout.html.twig') %}

{% block contents %}

<h1>Form Samples</h1>

<p>This is form sample...</p>

    <form action="" method="post">
        {{ hidden_csrf_token()|raw }}
        <input type="text" name="name" value="Deca framework">
        <input type="submit" value="Post It">
    </form>

    {% if name is defined %}
        <h2>name is defined: {{ name }}</h2>
    {% endif %}

{% if posts is defined %}
    <h2>form submitted...</h2>
    {% for key, val in posts %}
        {{ key }}: {{ val }}<br>
    {% endfor %}
{% endif %}

{% endblock %}