{% extends('layouts/layout.html.twig') %}

{% block contents %}
<h1>CSRF Token Validation</h1>

    <h3>Form with CSRF Token</h3>
    <form action="" method="post">
        <label for="token">CSRF Token:</label>
        <input type="text" id="token" name="{{ csrfTokenName() }}" value="{{ csrfTokenValue() }}">
        <p>With CSRF Token, post methold should pass. </p>
        <input type="submit" value="POST">
    </form>

    <h3>Form with CSRF Token</h3>
    <form action="" method="post">
        <p>no token in this form.</p>
        <p>This should cause Forbidden Error</p>
        <input type="submit" value="POST">
    </form>

{% endblock %}