body {
}
header {
    border-bottom: 1px solid #cccccc;
    padding: 0 10px;
    background-color: #fffdf8;
}

footer {
    border-top: 1px solid #cccccc;
    padding: 10px;
    background-color: #f0f0f0;
}

.alert-success {
    color: #006400; /* 例: 緑系の文字色 */
    border-left: 5px solid #047878; /* 例: 左側にボーダーを追加 */
    justify-content: space-between;
    align-items: center;
}
.alert-success header {
    background-color: #b0de96; /* 例: 緑系の背景色 */
    font-weight: bold;
}

.alert-error {
    color: #ff0000; /* 例: 赤系の文字色 */
    border-left: 5px solid #ff0000; /* 例: 左側にボーダーを追加 */
    justify-content: space-between;
    align-items: center;
}

.alert-error header {
    background-color: #ffcccc; /* 例: 赤系の背景色 */
    font-weight: bold;
}
.error {
    background-color: #fdd1d1;
    color: #981616;
    border: 1px solid #bf4949;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 5px;
}