header {
    border-bottom: 1px solid #cccccc;
}

footer {
    border-top: 1px solid #cccccc;
}

.alert-success {
    color: #006400; /* 例: 緑系の文字色 */
    border-left: 5px solid var(--pico-primary); /* 例: 左側にボーダーを追加 */
    justify-content: space-between;
    align-items: center;
}
.alert-success header {
    background-color: #b0de96; /* 例: 緑系の背景色 */
    font-weight: bold;
}

.alert-error {
    color: #ff0000; /* 例: 赤系の文字色 */
    border-left: 5px solid #ff0000; /* 例: 左側にボーダーを追加 */
    justify-content: space-between;
    align-items: center;
}

.alert-error header {
    background-color: #ffcccc; /* 例: 赤系の背景色 */
    font-weight: bold;
}
