{% extends('layouts/layout.html.twig') %}

{% block contents %}
<h1>Deca Demo</h1>

    <p>This is Deca-Initial3 version; see <a href="https://github.com/asaokamei/Deca">github</a> to see some details...</p>

<h2>Samples</h2>

<ul>
    <li><a href="{{ url_for('samples-flashes')}}">flash sample</a></li>
</ul>


{% endblock %}