{% extends('layouts/layout.html.twig') %}

{% block contents %}
<h1>Deca Framework</h1>

    <div style="display: flex;">
        <div style="width: 8em; margin: .5em; "><img src="/images/deca-logo.png" alt="deca logo" style=";"></div>
        <div style="flex: auto;">
            <p>Deca is a simple PHP framework which I can (hopefuly) use for decades.
                Please see <a href="https://github.com/asaokamei/Deca">github</a> for more details...</p>
            <p>Based on: Slim 4, php-di, twig, aura/session.
                More packages maybe added, such as PhpMailer, Monolog, whoops, etc. </p>
        </div>
    </div>

<h3>Sample Codes</h3>

<ul>
    <li><a href="{{ url_for('samples-flash')}}">Flash sample</a></li>
    <li><a href="{{ url_for('samples-csrf') }}">CSRF token validation</a></li>
    <li><a href="{{ url_for('samples-error') }}">Error sample</a></li>
    <li><a href="{{ url_for('samples-form') }}">Forms sample</a></li>
</ul>


{% endblock %}